body {
  text-align: center;
}

.box {
  background-color: lightblue;
  width: 31%;
  box-sizing: content-box;
  float: left;
  border: 5px solid blue;
  border-radius: 10%;
}

.box img {
  border: 3px solid blue;
  border-radius: 10%;
  width: 80%;

}

@media screen and (max-width: 480px) {
  .box {
    float: none;
    background-color: aquamarine;
  }
  .box img {
    width: 80%;
  }
}